
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<table class="table table-hover table-bordered">
    <tr>
        <th>ID</th>
        <th>Öğrenci Adı</th>
        <th>Bölümü</th>
    </tr>

    <tr>
        <td>1</td>
        <td>Velit TOPARLI</td>
        <td>Elektrik-Elektronik Mühendisliği</td>
    </tr>

    <tr>
        <td>2</td>
        <td>Serdar Ekmez</td>
        <td>Sınıf Öğretmenliği</td>
    </tr>
</table>

