
@{
    ViewBag.Title = "LessonList";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<h2>Ders Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>Diyez</th>
        <th>Ders Adı</th>
        <th>Akademisyen</th>
        <th>Kontenjan</th>
    </tr>

    <tr>
        <td>1</td>
        <td>Nesne Yönelimli Programlara</td>
        <td>Murat Yücedağ</td>
        <td>80</td>
    </tr>

    <tr>
        <td>2</td>
        <td>Yapay Zekaya Giriş</td>
        <td>Ufuk Bal</td>
        <td>50</td>
    </tr>
</table>

